<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:mx="http://schemas.microsoft.com/appx/2013/xbox/manifest" IgnorableNamespaces="mx">

  <Identity Name="Minecraft"
            Publisher="CN=Publisher"
            Version="1.0.494.0" />
  
  <Properties>
    <DisplayName>Minecraft: Xbox One Edition</DisplayName>
    <PublisherDisplayName>Microsoft Studios</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>Minecraft</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <!-- 4J-JEV: I've left the languages expected to fallback to a given language commented out beneath said language.
                  For clarity, and incase we wish to control this ourselves in the future.
    -->

    <!-- (en-EN) English (US) -->
    <Resource Language="en-us" /> 
    
    <!-- Fallback language above here - has to be English -->

    <!-- (en-GB) English (GB) -->
    <Resource Language="en-gb" /> 
    <!-- <Resource Language="en-ie" /> -->
    <!-- <Resource Language="en-au" /> -->
    <!-- <Resource Language="en-nz" /> -->
    <!-- <Resource Language="en-ca" /> -->
    <!-- <Resource Language="en-il" /> -->
    <!-- <Resource Language="en-hk" /> -->
    <!-- <Resource Language="en-ae" /> -->
    <!-- <Resource Language="en-za" /> -->
    <!-- <Resource Language="en-sg" /> -->
    <!-- <Resource Language="en-sa" /> -->
    <!-- <Resource Language="en-in" /> -->
    <!-- <Resource Language="en-hu" /> -->
    <!-- <Resource Language="en-hk" /> -->

    <!-- (de-DE)  German -->
    <Resource Language="de-de" /> 
    <!-- <Resource Language="de-at" /> -->
    <!-- <Resource Language="de-ch" /> -->

    <!-- (es-ES) Spanish (ES) -->
    <Resource Language="es-es" />

    <!-- (es-MX) Spanish (MX) -->
    <Resource Language="es-mx" />
    <!-- <Resource Language="es-cl" /> -->
    <!-- <Resource Language="es-co" /> -->
    <!-- <Resource Language="es-ar" /> -->

    <!-- (fr-FR)  French -->
    <Resource Language="fr-fr" /> 
    <!-- <Resource Language="fr-ca" /> -->
    <!-- <Resource Language="fr-ch" /> -->
    <!-- <Resource Language="fr-be" /> -->

    <!-- (it-IT)  Italian -->
    <Resource Language="it-it" /> 

    <!-- (pt-BR)  Portuguese (BT) -->
    <Resource Language="pt-br" />

    <!-- (pt-PT)  Portuguese (PT) -->
    <Resource Language="pt-pt" />

    <!-- (ja-JP)  Japanese -->
    <Resource Language="ja-jp" /> 

    <!-- (ko-KR)  Korean -->
    <Resource Language="ko-kr" />

    <!-- (zh-CHT) Chinese (Traditional) -->
    <Resource Language="zh-tw" /> 
    <Resource Language="zh-hk" />

    <!-- (zh-CHS) Chinese (Simplified) -->
    <!-- <Resource Language="zh-cn" /> -->
    <!-- <Resource Language="zh-sg" /> -->

    <!-- (da-DK)  Danish -->
    <!-- <Resource Language="da-dk" /> -->

    <!-- (fi-FI)  Finnish -->
    <!-- <Resource Language="fi-fi" /> -->

    <!-- (nl-NL)  Dutch -->
    <!-- <Resource Language="nl-nl" /> -->
    <!-- <Resource Language="nl-be" /> -->

    <!-- (pl-PL)  Polish -->
    <!-- <Resource Language="pl-pl" /> -->

    <!-- (ru-RU)  Russian -->
    <!-- <Resource Language="ru-ru" /> -->

    <!-- (sv-SE)  Swedish -->
    <!-- <Resource Language="sv-se" /> -->

    <!-- (nb-NO)  Norwegian -->
    <!-- <Resource Language="nb-no" /> -->
        
    <!-- Overriding the english in these locales so they can hopefully use their native language instead. -->
    <!-- <Resource Language="en-sk" /> --><!-- (sk-SK)  Slovak* -->
    <!-- <Resource Language="en-cz" /> --><!-- (cz-CZ)  Czech* -->
    <!-- <Resource Language="en-gr" /> --><!-- (el-GR)  Greek* -->
    
    
  </Resources>


  <Applications>
    <Application Id="App"
     Executable="Minecraft.Client.exe"
     EntryPoint="Minecraft.App">
      <VisualElements
          DisplayName="Minecraft: Xbox One Edition"
          Logo="StoreLogo.png"
          SmallLogo="SmallLogo.png"
          Description="Minecraft"
          ForegroundText="light"
          BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" WideLogo="widelogo.png" />
        <SplashScreen Image="SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <mx:Extension Category="xbox.live">
          <mx:XboxLive TitleId="149E11AE" PrimaryServiceConfigId="05c20100-6e60-45d5-878a-4903149e11ae">
          <mx:ConnectedStorage MaxMegabytesPerUser="4096" />
        </mx:XboxLive>
        </mx:Extension>
        <mx:Extension Category="windows.xbox.networking">
          <mx:XboxNetworkingManifest>
            <mx:SocketDescriptions>
              <mx:SocketDescription Name="MultiplayerSocketUdp" SecureIpProtocol="Udp" BoundPort="8700">
                <mx:AllowedUsages>
                  <mx:SecureDeviceSocketUsage Type="Initiate" />
                  <mx:SecureDeviceSocketUsage Type="Accept" />
                  <mx:SecureDeviceSocketUsage Type="SendGameData" />
                  <mx:SecureDeviceSocketUsage Type="ReceiveGameData" />
                  <mx:SecureDeviceSocketUsage Type="SendChat" />
                  <mx:SecureDeviceSocketUsage Type="ReceiveChat" />
                </mx:AllowedUsages>
              </mx:SocketDescription>
            </mx:SocketDescriptions>
            <mx:SecureDeviceAssociationTemplates>
              <mx:SecureDeviceAssociationTemplate Name="MultiplayerUdp" InitiatorSocketDescription="MultiplayerSocketUdp" AcceptorSocketDescription="MultiplayerSocketUdp" MultiplayerSessionRequirement="Required">
                <mx:AllowedUsages>
                  <mx:SecureDeviceAssociationUsage Type="Default" />
                </mx:AllowedUsages>
              </mx:SecureDeviceAssociationTemplate>
            </mx:SecureDeviceAssociationTemplates>
          </mx:XboxNetworkingManifest>
        </mx:Extension>
      </Extensions>
      <mx:Ratings Category="game">
        <mx:Rating>ESRB:E10</mx:Rating>
        <mx:Rating>PEGI:7</mx:Rating>
        <mx:Rating>PEGI-PT:6</mx:Rating>
        <mx:Rating>FPB:PG</mx:Rating>
        <mx:Rating>USK:6</mx:Rating>
        <mx:Rating>COB-AU:PG</mx:Rating>
        <mx:Rating>OFLC-NZ:PG</mx:Rating>
        <mx:Rating>DJCTQ:L</mx:Rating>
        <mx:Rating>CERO:A</mx:Rating>
        <mx:Rating>GRB:All</mx:Rating>
        <mx:Rating>CSRR:P</mx:Rating>
        <mx:Rating>PCBP:6</mx:Rating>
      </mx:Ratings>
    </Application>
  </Applications>
  <Extensions>
    <mx:PackageExtension Category="xbox.store">
      <mx:XboxStore>
        <mx:RelatedProducts>
          <mx:RelatedProduct Id="582e7bcc-11bc-4702-ab1b-b31566f8e327" />
        </mx:RelatedProducts>
      </mx:XboxStore>
    </mx:PackageExtension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <mx:Capability Name="kinectAudio"/>
    <mx:Capability Name="kinectGamechat"/>    
  </Capabilities>
</Package>