
/* This file is intended to contain rules that will allow "skinning" of your manual by changeing the colors, fonts and background images. You should not place any rules here
that modify positioning or size or other layout properties*/

body
{
  /*these are the standard fallbacks that are design approved for the majority of the supported devices.*/
  font-family:Segoe UI Regular,HelveticaNeue, Droid Sans, Arial, Sans-Serif;
  
  /*add your skin background here if needed
   background:#000 url(background.png) fixed no-repeat 0 20%;  
  */  

  color:#ebebeb; /*xboxwhite*/
  background-color:#222222;
}

/*this would for example override the white background and text color on active links*/
.pageButton:hover, .contentPanel a:hover
{
    /*background-color: #ee4036;
    color:#222;*/
}

/*and this would modify the focus outline*/
a:focus, a:hover, button:focus, button:hover
{
   /*outline:thick double #ee4036;*/
}


article a.articleTitle, article a.articleTitle:visited 
{
    color:#6b6b6b;
}

/*Here's an example of using this file to skin based upon a media query, in this case it will work on smartglass tablet devices
 Note: this is a duplicate of the media query used inline in the html to load tablet.css for the index page*/
@media (orientation:landscape) and (max-height: 900px),
(orientation:landscape) and (min-height: 1081px),
(orientation:landscape) and (max-width: 1430px) and (min-height: 901px) and (max-height: 1080px),
(orientation:landscape) and (min-width: 1930px) and (min-height: 901px) and (max-height: 1080px)
{
   /*This would add a background image to the content panel in tablets only. Note: you need an additional selector to give this rule 
   enough weight to override the existing in tablet.css*/ 
  .articles  article:not(.helpMenu) .contentPanel 
    {
        /*background: url("Forza_Left.png") no-repeat transparent 24px 60px;*/
    }
}

