body
{
   font-size:50%;
   /*gradient for smartglass UI*/
   background: -webkit-linear-gradient(top, #000000 50%, #323232); /* Safari and Chrome*/
   background: -moz-linear-gradient(top, #000000 50%, #323232);/*Firefox*/
   background: -ms-linear-gradient(top, #000000 50%, #323232);/*IE*/
}

/*for smaller android tablets the line height prevents showing all 6 items*/
@media (max-height:595px) 
{
  body
    {
        font-size:44%;
    }

  .helpMenu li a
    {
        height:2.5em;
        line-height: 2.5em;
    }
}

article .contentPanel
{
    padding: 0 0 0 48px;
    position: relative;
    top: 20%;
    height: 80%;
    width:300px;
    background-color:transparent;
}

article:not(.helpMenu) .contentPanel 
{
    background:url("sg_logo_20.png") no-repeat transparent 56px 110px;
}

article .contentPanel .panelButtons
{
   display: none;
}

.pageCounter
{
    display: block;
    position: fixed;
    right: 2em;
    bottom: .5em;
    left: auto;
}

article .helpContent
{
    position: relative;
    height: 70%;
    top: 20%;
    padding: 2% 144px 2% 64px; /* right padding set to be higher than column-gap to allow "peek" (part of next column showing up next to full column). */
    background-color: transparent;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    line-height:1;
}

article .contentPanel .backLink
{
    position: fixed;
    top: 1em;
    left: 1em;
    margin: 0;
    background-position-y:2.25em;
}

/*note you must re-initialize any background properties if you swap images*/
article .contentPanel .backLink:focus 
{
     background-position-y:2.25em;
}
.articles article:not(.helpMenu) .articleTitle 
{
    top: 3.8em;
    left: 1.5em;
    height: 2em;
}
#TOC .articleTitle 
{
    left:1.75em;
}
article .contentPanel .articleTitle
{
    position: fixed;
    top: 1.85em;
    left: 4em;
    height: 3em;
    display: block;
    width: 70%;
    overflow: hidden;
}

.helpMenu li a
{
    width: 100%;
    display: block; 
    padding-bottom:.25em;
}

/*remove controller button states*/
.navLinks a, .navLinks a:focus, .navLinks a:hover:not(:focus) 
{
   
    border:none;
    background-color: transparent;
    outline:0;  
    box-shadow:none;
}

